<div class="wrapper">
  <header>Todo List</header>
  <div class="inputField">
    <input type="text" 
    [(ngModel)]="atask"   
    (keyup.enter)="addTask()"
    placeholder="Add your new todo">
    <button (click)="addTask()"><i class="fas fa-plus"></i></button>
  </div>
  <ul class="todoList">
    <li *ngFor="let item of listTasks" >{{ item.task }}<span class="icon" (click)="deleteTask(item.id)">X</span></li>
  </ul>
  <div class="footer">
    
    <button (click)="clearAll()">Clear All</button>
  </div>
</div>